<div class="grid-container">
  
  <div class="row col-mg-12 p-5" >
    <mat-card class="col-md-9 m-3">
      <mat-card-title> Versao 1 </mat-card-title>
      <mat-card-subtitle>Descricao arquivista a fazer relativa</mat-card-subtitle>
      <mat-card-content>
        Real content to the side for arquives:
        <br>
        <mat-slider></mat-slider>
      </mat-card-content>
    </mat-card>
    <mat-card class="col-md-2 m-3">
      <mat-card-title> Versao 2 </mat-card-title>
      <mat-card-subtitle>Descricao arquivista a fazer relativa</mat-card-subtitle>
      <mat-card-content>
        <mat-slider></mat-slider>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-2 m-3">
      <mat-card-title> Versao 2 </mat-card-title>
      <mat-card-subtitle>Descricao arquivista a fazer relativa</mat-card-subtitle>
    </mat-card>

    <mat-card class="col-md-5 m-3">
      <mat-card-title> Versao 2 </mat-card-title>
      <mat-card-subtitle>Descricao arquivista a fazer relativa</mat-card-subtitle>
    </mat-card>

    
  </div>
  
  <!--<mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>-->
    
  

</div>
