.sidenav-container {
  height: 100%;
  color: rgb(191, 159, 159);
}

.sidenav {
  width: 200px;
  background-color: #465294;
}

.sidenav .mat-toolbar {
  background: #465294;
  color: white;
}

.mat-toolbar  {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #465294;
}

.mat-nav-list .mat-list-item{
  color: white;
}

.btn-none{
  background-color: rgba(255, 0, 0, 0); border: 0px;
}

.material-icons.orange600 { color: white; }