<mat-sidenav-container class="sidenav-container">
  
  <!-- Left Side -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'pushover' : 'side'"
      [opened]=true>
    <mat-toolbar>Digitarq+</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home/dashboard"> <mat-icon (click)="drawer.toggle()" class="material-icons orange600 mr-4" aria-hidden="false"aria-label="align-justify">sort</mat-icon> Perfil</a>
      <a mat-list-item routerLink="/home/dragdrop"> <mat-icon (click)="drawer.toggle()" class="material-icons orange600 mr-4" aria-hidden="false"aria-label="align-justify">dvr</mat-icon> Fundos</a>
      <a mat-list-item routerLink="/home/dashboard" > <mat-icon (click)="drawer.toggle()" class="material-icons orange600 mr-4" aria-hidden="false"aria-label="align-justify">note </mat-icon> Digitais</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Top Side -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mb-4">
      <button class="btn-none"> 
          <mat-icon (click)="drawer.toggle()" class="material-icons orange600" aria-hidden="false"aria-label="align-justify">subject</mat-icon>
      </button>
      
    </mat-toolbar>
    
    <!-- Main Content Here -->
    <router-outlet> </router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
